<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>98,176,196</string>
		<key>name</key>
		<string>护肤</string>
		<key>imageName</key>
		<string>type_big_12</string>
	</dict>
	<key>1</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>127,138,60</string>
		<key>name</key>
		<string>旅游</string>
		<key>imageName</key>
		<string>type_big_19</string>
	</dict>
	<key>2</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>175,178,74</string>
		<key>name</key>
		<string>一般</string>
		<key>imageName</key>
		<string>type_big_1</string>
	</dict>
	<key>3</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>113,169,114</string>
		<key>name</key>
		<string>学习</string>
		<key>imageName</key>
		<string>type_big_20</string>
	</dict>
	<key>4</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>179,125,166</string>
		<key>name</key>
		<string>服装</string>
		<key>imageName</key>
		<string>type_big_27</string>
	</dict>
	<key>5</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>208,184,99</string>
		<key>name</key>
		<string> 住房</string>
		<key>imageName</key>
		<string>type_big_8</string>
	</dict>
	<key>6</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>136,145,116</string>
		<key>name</key>
		<string>鞋帽</string>
		<key>imageName</key>
		<string>type_big_11</string>
	</dict>
	<key>7</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>218,168,188</string>
		<key>name</key>
		<string>医疗</string>
		<key>imageName</key>
		<string>type_big_18</string>
	</dict>
	<key>8</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>193,136,43</string>
		<key>name</key>
		<string>宠物</string>
		<key>imageName</key>
		<string>type_big_26</string>
	</dict>
	<key>9</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>233,140,189</string>
		<key>name</key>
		<string>购物</string>
		<key>imageName</key>
		<string>type_big_6</string>
	</dict>
	<key>10</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>253,127,36</string>
		<key>name</key>
		<string>网购</string>
		<key>imageName</key>
		<string>type_big_10</string>
	</dict>
	<key>11</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>60,106,60</string>
		<key>name</key>
		<string>运动</string>
		<key>imageName</key>
		<string>type_big_17</string>
	</dict>
	<key>12</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>222,94,58</string>
		<key>name</key>
		<string>家庭</string>
		<key>imageName</key>
		<string>type_big_25</string>
	</dict>
	<key>13</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>108,132,181</string>
		<key>name</key>
		<string>交通</string>
		<key>imageName</key>
		<string>type_big_4</string>
	</dict>
	<key>14</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>178,106,103</string>
		<key>name</key>
		<string>腐败</string>
		<key>imageName</key>
		<string>type_big_16</string>
	</dict>
	<key>15</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>213,167,64</string>
		<key>name</key>
		<string>工作</string>
		<key>imageName</key>
		<string>type_big_33</string>
	</dict>
	<key>16</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>130,172,169</string>
		<key>name</key>
		<string>用餐</string>
		<key>imageName</key>
		<string>type_big_2</string>
	</dict>
	<key>17</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>253,155,182</string>
		<key>name</key>
		<string>爱人</string>
		<key>imageName</key>
		<string>type_big_24</string>
	</dict>
	<key>18</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>143,107,179</string>
		<key>name</key>
		<string>约会</string>
		<key>imageName</key>
		<string>type_big_9</string>
	</dict>
	<key>19</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>161,178,165</string>
		<key>name</key>
		<string>转账</string>
		<key>imageName</key>
		<string>type_big_15</string>
	</dict>
	<key>20</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>202,102,28</string>
		<key>name</key>
		<string> 理财</string>
		<key>imageName</key>
		<string>type_big_32</string>
	</dict>
	<key>21</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>180,162,88</string>
		<key>name</key>
		<string>数码</string>
		<key>imageName</key>
		<string>type_big_23</string>
	</dict>
	<key>22</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>235,146,74</string>
		<key>name</key>
		<string>娱乐</string>
		<key>imageName</key>
		<string>type_big_7</string>
	</dict>
	<key>23</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>157,120,103</string>
		<key>name</key>
		<string>剧场</string>
		<key>imageName</key>
		<string>type_big_14</string>
	</dict>
	<key>24</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>67,85,118</string>
		<key>name</key>
		<string>信用卡</string>
		<key>imageName</key>
		<string>type_big_31</string>
	</dict>
	<key>26</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>156,147,158</string>
		<key>name</key>
		<string>酒水</string>
		<key>imageName</key>
		<string>type_big_22</string>
	</dict>
	<key>27</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>53,102,102</string>
		<key>name</key>
		<string>果蔬</string>
		<key>imageName</key>
		<string>type_big_29</string>
	</dict>
	<key>28</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>144,189,221</string>
		<key>name</key>
		<string>充值</string>
		<key>imageName</key>
		<string>type_big_5</string>
	</dict>
	<key>29</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>224,115,143</string>
		<key>name</key>
		<string>丽人</string>
		<key>imageName</key>
		<string>type_big_13</string>
	</dict>
	<key>30</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>102,104,168</string>
		<key>name</key>
		<string>宝宝</string>
		<key>imageName</key>
		<string>type_big_30</string>
	</dict>
	<key>31</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>191,178,190</string>
		<key>name</key>
		<string>香烟</string>
		<key>imageName</key>
		<string>type_big_21</string>
	</dict>
	<key>32</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>157,120,103</string>
		<key>name</key>
		<string>零食</string>
		<key>imageName</key>
		<string>type_big_3</string>
	</dict>
	<key>33</key>
	<dict>
		<key>isOut</key>
		<true/>
		<key>color</key>
		<string>105,151,167</string>
		<key>name</key>
		<string>日用品</string>
		<key>imageName</key>
		<string>type_big_28</string>
	</dict>
	<key>34</key>
	<dict>
		<key>isOut</key>
		<false/>
		<key>color</key>
		<string>214,71,118</string>
		<key>name</key>
		<string>礼物</string>
		<key>imageName</key>
		<string>type_big_1012</string>
	</dict>
	<key>35</key>
	<dict>
		<key>isOut</key>
		<false/>
		<key>color</key>
		<string></string>
		<key>name</key>
		<string>报销</string>
		<key>imageName</key>
		<string>type_big_n1</string>
	</dict>
	<key>36</key>
	<dict>
		<key>isOut</key>
		<false/>
		<key>color</key>
		<string></string>
		<key>name</key>
		<string>工资</string>
		<key>imageName</key>
		<string>type_big_n2</string>
	</dict>
	<key>37</key>
	<dict>
		<key>isOut</key>
		<false/>
		<key>color</key>
		<string></string>
		<key>name</key>
		<string>红包</string>
		<key>imageName</key>
		<string>type_big_n3</string>
	</dict>
	<key>38</key>
	<dict>
		<key>isOut</key>
		<false/>
		<key>color</key>
		<string></string>
		<key>name</key>
		<string>兼职</string>
		<key>imageName</key>
		<string>type_big_n4</string>
	</dict>
	<key>39</key>
	<dict>
		<key>isOut</key>
		<false/>
		<key>color</key>
		<string></string>
		<key>name</key>
		<string>奖金</string>
		<key>imageName</key>
		<string>type_big_n5</string>
	</dict>
	<key>40</key>
	<dict>
		<key>isOut</key>
		<false/>
		<key>color</key>
		<string></string>
		<key>name</key>
		<string>投资</string>
		<key>imageName</key>
		<string>type_big_n8</string>
	</dict>
	<key>41</key>
	<dict>
		<key>isOut</key>
		<false/>
		<key>color</key>
		<string></string>
		<key>name</key>
		<string>一般</string>
		<key>imageName</key>
		<string>type_big_0</string>
	</dict>
</dict>
</plist>
